<!DOCTYPE html>
<html lang="en">



<!--
//
// Metadata-type stuff
//
-->
<head>
<title>__PM_GENRE</title>
<meta content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../__PM_CSS">
__PM_FONTS
</head>



<body class="flexible">



<!--
//
// Sketch your 'autograph'
//
-->
<div class="autographHeader">
<a href="../index.html">
<img class="autographImg" src="../__PM_AUTOGRAPH" alt="__PM_SITENAME">
</a>
</div>




<!--
//
// The genre to which this blog belongs
//
-->
<div class="genreTitle">
<a href="index.html"><h2>__PM_GENRE</h2></a>
</div>



<!--
//
// A description of the content you can expect to find in this genre of posts
//
-->
<div class="genreBody">
<p class="genreDesc">
__PM_GENREDESCRIPTION
</p>
<script>
var post_list_fname='.genre-post-list';
__PM_POSTLISTJS
</script>
</div>



<!--
//
// Navigation bar, dynamically populated
//
-->
<script>
var path_to_landing = '../';
__PM_NAVBARJS
</script>



<!--
//
// Copyright info. (should be right below navbar)
//
-->
<div class="copyright">
&copy;
<script>
const date = new Date();
document.write(date.getFullYear());
</script>
__PM_OWNER
</div>



</body>
</html>
