<!DOCTYPE html>
<html lang="en">


<head>
<title>__PM_SITE</title>
<meta content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../__PM_CSS">
__PM_FONTS
</head>



<body class="flexible">



<!--
//
// On the landing page, we'll just have the autograph (no title)
//
-->
<div class="autographHeader">
<img class="autographImg" src="__PM_AUTOGRAPH" alt="__PM_SITE">
</div>



<!--
//
// A full list of the posts on this site
//
-->
<div class="genreBody">
<p class="genreDesc">
__PM_SITEDESCRIPTION
</p>
<script>
var post_list_fname='.full-post-list';
__PM_POSTLISTJS
</script>
</div>



<!--
//
// Navigation bar, dynamically populated
//
-->
<script>
var path_to_landing = './';
__PM_NAVBARJS
</script>



<!--
//
// Copyright info. (should be right below navbar)
//
-->
<div class="copyright">
&copy;
<script>
const date = new Date();
document.write(date.getFullYear());
</script>
__PM_OWNER
</div>



</body>
</html>